h1,h2 {text-align: center;}

.data {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.data > span:first-child {
  font-weight: 500;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
